.header{
    background-color: cadetblue;
    color: white;
    padding: 40px 20px;
    margin-left: -10px;
}
.nav{
    background-color: brown;
    
}
ul{
    list-style: none;
    /* border: 1px solid blue; */
    overflow: hidden;
    margin: auto;
}
body{
    margin: 0;
}
ul > li{
    float: left;
    /* border: 1px solid black; */
}
/* 위의 border로 영역확인 : nav,ul 영역이 li영역보다 작습니다. */
ul > li a{
    display: block;
    color: aliceblue;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
}
ul > li a:hover{
    background-color: black;
    color: white;
}
.main{
    background-color: azure;
    padding: 20px;
    height: 500px;
}
.footer{
    background-color: cornflowerblue;
    color: white;
    padding: 20px;
    text-align: center;
}